@import "tailwindcss";

@theme {
  --color-primary-50: #fff3eb;
  --color-primary-100: #ffe7d6;
  --color-primary-500: #fa8232;

  --color-secondary-500: #2da5f3;
  --color-secondary-700: #1b6392;

  --color-gray: #ffffff;
  --color-gray: #f2f4f5;
  --color-gray-100: #e4e7e9;
  --color-gray-200: #c9cfd2;
  --color-gray-500: #77878f;
  --color-gray-600: #5f6c72;
  --color-gray-700: #475156;
  --color-gray-900: #191c1f;

  --color-success-500: #2db224;

  --color-warning-50: #fdfae7;
  --color-warning-200: #f7e99e;
  --color-warning-400: #efd33d;
}

.text-heading-2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 56px;
}

.text-heading-3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 56px;
}

.text-heading-6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 56px;
}

.text-heading-7 {
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
}

.text-label-2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.text-label-3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.text-label-4 {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.text-body-large-500 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.text-body-medium-500 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.text-body-medium-600 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.text-body-small-400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.text-body-small-500 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.text-body-small-600 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.text-body-tiny-400 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.text-body-xl-400 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.text-body-xl-600 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

body {
  background: var(--background);
  color: var(--color-gray-900);
}

button {
  /* border: 0; */
}

button:hover {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}
